<html>
<head>
    <link rel="stylesheet" href="login.css">
    <script>
        function login(){
            window.location.href='main.html';
        }
        </script>
</head>


    <body>
        
        <div class="login-container"    >
            <section id="content">
                <form action="">
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" placeholder="Username" required="" id="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="password" />
                    </div>
                    <div>
                        <input id="login" type="submit" value="Log in" onclick="    window.location.href='main.html';"/>
                        <a href="#">Forgot your password?</a>
                        <a href="#">Register</a>
                    </div>
                </form><!-- form -->
                <div class="button">
                    <!-- <a href="#">Download source file</a> -->
                </div><!-- button -->
            </section><!-- content -->
        </div><!-- container -->
        </body>
        
        <script src="index.js"></script>
</html>




